<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container my-3 d-flex justify-content-center">
    <img class="rounded-circle " style="width: 120px; height: 120px; object-fit: cover;" src="../../assets/images/profile.png" alt="">
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Username</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      email : test01@gmail.com<br>
      Phone : 094-0001111
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Address</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Education</ion-card-title>
    </ion-card-header>

    <ion-accordion-group>
      <ion-accordion value="colors">
        <ion-item slot="header">
          <ion-label>Academy 1</ion-label>
        </ion-item>
    
        <ion-list slot="content">
          <ion-item>
            <ion-list>
              <ion-item>
                <ion-label>Vocabulary : </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Department : </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>GPA : </ion-label>
              </ion-item>
            </ion-list>
          </ion-item>
        </ion-list>
      </ion-accordion>
      <ion-accordion value="shapes">
        <ion-item slot="header">
          <ion-label>Academy 2</ion-label>
        </ion-item>
    
        <ion-list slot="content">
          <ion-item>
            <ion-list>
              <ion-item>
                <ion-label>Vocabulary : </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Department : </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>GPA : </ion-label>
              </ion-item>
            </ion-list>
          </ion-item>
        </ion-list>
      </ion-accordion>
      <ion-accordion value="numbers">
        <ion-item slot="header">
          <ion-label>Academy 3</ion-label>
        </ion-item>
    
        <ion-list slot="content">
          <ion-item>
            <ion-list>
              <ion-item>
                <ion-label>Vocabulary : </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Department : </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>GPA : </ion-label>
              </ion-item>
            </ion-list>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>
  
</ion-content>
